.row:after {
    content: "";
    display: table;
    clear: both;
  }
form.search input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
}

form.search button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0763ad;
}
form.search select{
  float: left;
  width: 20%;
  
  color: rgb(0, 0, 0);
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
form.search::after {
  content: "";
  clear: both;
  display: table;
}
.responsive {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 800px) {
    .col-sm-2 {
      -ms-flex: 16%;
      flex: 16%;
      max-width: 16%;
    }
    .col-sm-10 {
      -ms-flex: 84%;
      flex: 84%;
      max-width: 84%;
    }
  }
#center.col-sm-10{
  padding-top: 2%;
}  

* {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
a{
    color: black;
}
a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
a:hover {
    text-decoration: underline;
  }
  
a:active {
    text-decoration: underline;
  }